<div class="ngCelltext">
    <div class="btn-group">
        <a class="btn btn-info" title="View Servers"
           ng-href="/servers?server_group={{row.getProperty('id')}}"
           target="blank">
            <i class="fa fa-list fa-xs"></i>
        </a>
        <button class="btn btn-primary" title="Edit Server Group"
                ng-click="startSGUpdateDialog($event, row)">
            <i class="fa fa-pencil fa-xs"></i>
        </button>
        <button class="btn btn-danger" title="Delete Server Group"
                ng-click="deleteServerGroup($event, row)">
            <i class="fa fa-trash-o fa-xs"></i>
        </button>
    </div>
</div>
