<form role="form" ng-submit="vm.update()">
    <div class="form-group">
        <label class="control-label col-xs-5" for="servergroup__group_name">Server Group Name</label>
        <div class="col-xs-7">
            <input class="form-control" id="servergroup__group_name"
                   ng-model="vm.group_name" placeholder="Server Group Name..." />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-5" for="servergroup__supervisor">Supervisor</label>
        <div class="col-xs-7">
            <input type="text" class="form-control" id="supervisoracl__supervisor"
                   autocomplete="off" data-ng-model="vm.selected_supervisor"
                   typeahead="item as item.username for item in vm.getSupervisorsSuggestion($viewValue) | filter:$viewValue"
                   typeahead-wait-ms=500
                   typeahead-loading="loadingSupervisors"
                   />
            <i ng-show="loadingSupervisors" class="fa fa-spinner fa-spin"></i>
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">
            Update
        </button>
    </div>
</form>
