<br/>
<button
  class="btn btn-success btn-lg"
  title="Add New Server" data-placement="bottom"
  data-toggle="tooltip"
  type="button"
  ng-dialog="/static/templates/servers/servers/new_server.templ.html"
  ng-dialog-controller="NewServerController as vm">
    <i class="fa fa-plus"></i>
    Add New Server
</button>
<br/><br/>
<div>
    <table style="margin:auto;">
        <tr>
            <td>Server Group:</td>
            <td style="padding-left:10px;">
                <select ng-model="vm.server_group_filter"
                        ng-options="item.group_name for item in vm.servergroups_data">
                    <option value="">- All Server Groups -</option>
                </select>
            </td>
            <td width="30px"></td>
            <td>IP:</td>
            <td style="padding-left:10px;">
                <input ng-model="vm.ip_filter" placeholder="IP1,IP2,..." />
            </td>
            <td width="30px"></td>
            <td>Text:</td>
            <td style="padding-left:10px;">
                <input ng-model="gridOptions.$gridScope.filterText"
                       placeholder="Search Fields By Text ..." />
            </td>
        </tr>
    </table>
</div>
<br>
<div class="gridStyle" ng-grid="gridOptions" style="margin:autO;"></div>
