{% load compress %}
{% load staticfiles %}

{% compress js %}
<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap-material-design/dist/js/material.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap-material-design/dist/js/ripples.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/underscore/underscore.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/angular/angular.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-cookies/angular-cookies.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/ngDialog/js/ngDialog.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/ng-grid/ng-grid-2.0.14.debug.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/ng-grid/plugins/ng-grid-csv-export.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/snackbarjs/snackbar.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/highcharts-ng/dist/highcharts-ng.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/raphael/raphael-min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/metisMenu/dist/metisMenu.min.js' %}"></script>
<script type="text/javascript" src="{% static 'sb-admin2/js/sb-admin-2.js' %}"></script>

<script type="text/javascript" src="{% static 'lib/highcharts.js' %}"></script>

<!-- Crust Angular App -->
<script type="text/javascript" src="{% static 'javascripts/crust.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/crust.config.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/crust.routes.js' %}"></script>

<!-- Crust Utils and Helpers -->
<script type="text/javascript" src="{% static 'javascripts/utils/utils.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/utils/services/snackbar.service.js' %}"></script>

<!-- Crust Authentication Module -->
<script type="text/javascript" src="{% static 'javascripts/authentication/authentication.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/services/authentication.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/services/session.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/controllers/login.controller.js' %}"></script>

<!-- Crust Layout Module -->
<script type="text/javascript" src="{% static 'javascripts/layout/layout.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/controllers/navbar.controller.js' %}"></script>

<!-- Crust Dashboard Module -->
<script type="text/javascript" src="{% static 'javascripts/dashboard/dashboard.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/dashboard/controllers/dashboard.controller.js' %}"></script>

<!-- Crust Supervisor Module -->
<script type="text/javascript" src="{% static 'javascripts/supervisors/supervisors.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/supervisors/services/supervisors.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/supervisors/controllers/supervisors.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/supervisors/controllers/new_supervisor.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/supervisors/controllers/update_supervisor.controller.js' %}"></script>

<!-- Crust ServerGroups Module -->
<script type="text/javascript" src="{% static 'javascripts/servers/server_groups/server_groups.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/servers/server_groups/services/server_groups.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/servers/server_groups/controllers/server_groups.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/servers/server_groups/controllers/new_server_group.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/servers/server_groups/controllers/update_server_group.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/servers/server_groups/directives/server_groups.directive.js' %}"></script>

<!-- Crust Servers Module -->
<script type="text/javascript" src="{% static 'javascripts/servers/servers/servers.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/servers/servers/controllers/servers.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/servers/servers/services/servers.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/servers/servers/controllers/new_server.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/servers/servers/controllers/update_server.controller.js' %}"></script>

<!-- Crust ServerAccounts Module -->
<script type="text/javascript" src="{% static 'javascripts/servers/serveraccounts/serveraccounts.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/servers/serveraccounts/controllers/serveraccounts.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/servers/serveraccounts/services/serveraccounts.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/servers/serveraccounts/controllers/new_serveraccount.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/servers/serveraccounts/controllers/update_serveraccount.controller.js' %}"></script>

<!-- Crust RemoteUsers Module -->
<script type="text/javascript" src="{% static 'javascripts/remoteusers/remoteusers.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/remoteusers/services/remoteusers.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/remoteusers/controllers/remoteusers.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/remoteusers/controllers/new_remoteuser.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/remoteusers/controllers/update_remoteuser.controller.js' %}"></script>

<!-- Crust Command Groups Module -->
<script type="text/javascript" src="{% static 'javascripts/commandgroups/commandgroups.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/commandgroups/services/commandgroups.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/commandgroups/controllers/commandgroups.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/commandgroups/controllers/new_commandgroups.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/commandgroups/controllers/update_commandgroup.controller.js' %}"></script>

<!-- Crust Command Patterns Module -->
<script type="text/javascript" src="{% static 'javascripts/commandpatterns/commandpatterns.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/commandpatterns/services/commandpatterns.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/commandpatterns/controllers/commandpatterns.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/commandpatterns/controllers/new_commandpattern.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/commandpatterns/controllers/update_commandpattern.controller.js' %}"></script>

<!-- Crust Remote User ACL Module -->
<script type="text/javascript" src="{% static 'javascripts/remoteuseracl/remoteuseracl.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/remoteuseracl/services/remoteuseracls.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/remoteuseracl/controllers/remoteuseracls.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/remoteuseracl/controllers/new_remoteuseracl.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/remoteuseracl/controllers/update_remoteuseracl.controller.js' %}"></script>

<!-- Crust Supervisor ACL Module-->
<script type="text/javascript" src="{% static 'javascripts/supervisoracls/supervisoracls.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/supervisoracls/services/supervisoracls.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/supervisoracls/controllers/supervisoracls.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/supervisoracls/controllers/new_supervisoracl.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/supervisoracls/controllers/update_supervisoracl.controller.js' %}"></script>

<!-- Crust Sessions -->
<script type="text/javascript" src="{% static 'javascripts/crustsessions/crustsessions.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/crustsessions/services/crustsessions.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/crustsessions/controllers/crustsessions.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/crustsessions/controllers/crustactivesessions.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/crustsessions/controllers/crustsession_logs.controller.js' %}"></script>


{% endcompress %}
