{% load compress %}
{% load staticfiles %}

{% compress js %}
<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap-material-design/dist/js/material.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap-material-design/dist/js/ripples.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/underscore/underscore.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/angular/angular.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-cookies/angular-cookies.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/ngDialog/js/ngDialog.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/ng-grid/ng-grid-2.0.14.debug.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/ng-grid/plugins/ng-grid-csv-export.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/snackbarjs/snackbar.min.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/raphael/raphael-min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/metisMenu/dist/metisMenu.min.js' %}"></script>
<script type="text/javascript" src="{% static 'sb-admin2/js/sb-admin-2.js' %}"></script>

<!-- Crust Angular App -->
<script type="text/javascript" src="{% static 'javascripts/crust.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/crust.config.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/crust.routes.js' %}"></script>

<!-- Crust Utils and Helpers -->
<script type="text/javascript" src="{% static 'javascripts/utils/utils.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/utils/services/snackbar.service.js' %}"></script>

<!-- Crust Authentication Module -->
<script type="text/javascript" src="{% static 'javascripts/authentication/authentication.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/services/authentication.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/controllers/login.controller.js' %}"></script>

<!-- Crust Layout Module -->
<script type="text/javascript" src="{% static 'javascripts/layout/layout.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/controllers/navbar.controller.js' %}"></script>

<!-- Crust ServerGroups -->
<script type="text/javascript" src="{% static 'javascripts/servers/server_groups/server_groups.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/servers/server_groups/services/server_groups.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/servers/server_groups/controllers/server_groups.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/servers/server_groups/controllers/new_server_group.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/servers/server_groups/directives/server_groups.directive.js' %}"></script>
{% endcompress %}
