{% load compress %}
{% load staticfiles %}

{% compress css %}
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css' %}" />



<link rel="stylesheet" type="text/css" href="{% static 'bower_components/ngDialog/css/ngDialog.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/ngDialog/css/ngDialog-theme-default.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/ng-grid/ng-grid.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'lib/snackbarjs/snackbar.min.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/metisMenu/dist/metisMenu.min.css' %}" />


<link href="{% static 'bower_components/morrisjs/morris.css' %}" rel="stylesheet" />

<link rel="stylesheet" type="text/css" href="{% static 'sb-admin2/css/timeline.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'sb-admin2/css/sb-admin-2.css' %}" />

<!--link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap-material-design/dist/css/material.css' %}" /-->
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap-material-design/dist/css/ripples.min.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/styles.css' %}">

{% endcompress %}
